nav {
    padding: 20px 0px;
    background-color: bisque;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar_left {}

            .navbar_right {
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }
    }
}

.active {
    background-color: black;
    border-radius: 10px;
    padding: 10px 12px;
    color: white;
}